.App {
  height: 95vh;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;

}

.container {
  height: 95vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 14fr;
}

.navbar {
  height: 95vh;
  width: 80%;
  background-color: #6762A2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.navbar-header, .navbar-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-footer :not(:last-child) {
  margin-bottom: 40%;
}

.navbar-header img, .navbar-footer img {
  width: 50px;
}

.navbar-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-body :not(:last-child) {
  margin-bottom: 30%;
}

.navbar-body img {
  height: 35px;
}